3443<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		Login and Registration
	</title>
</head>
<style media='screen'>
	label{
		display: block;
		width:280px;
		text-align: right;
	}
	fieldset, form {
		display: inline-block;
	}
	li.error{
		color: red ;
	}
	li.success{
		color:green;
	}
</style>
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for category, message in messages %}
	      <li class="{{ category }}">{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	<form action="/register" method="POST">
		<fieldset>
			<legend>Register</legend>
			<label>First Name:
				<input type="text" name="first_name">
			</label>
			<label>Last Name:
				<input type="text" name="last_name">
			</label>
			<label>Email:
				<input type="text" name="email">
			</label>
			<label>Password:
				<input type="text" name="password">
			</label>
			<label>Confirm Password:
				<input type="text" name="passconf">
			</label>
			<label>
				<input type="submit" values="Register">
			</label>
		</fieldset>
	</form>
	<form action="/login" method="POST">
		<fieldset>
			<legend>Login</legend>
			<label>Email:
				<input type="text" name="email">
			</label>
			<label>Password:
				<input type="text" name="password">
			</label>
			<label>
				<input type="submit" values="Login">
			</label>
		</fieldset>
	</form>
</body>
</html>